body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.background{
    background-image: url(../img/5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.center{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.image{
    width: 75%;
    margin-top: 10%;
}

.image2{
    width: 40%;
    margin-top: 10%;
}

.image3{
    width: 30%;
    margin-top: 5%;
}